<template>
  <div class="favorites-page">
    <div class="header">
      <div class="favorites-title">Избранное</div>
      <router-link class="icon-wrapper" :to="{name: 'searchPage'}"><img src="/images/back.svg" /></router-link>
    </div>
    <div class="item-list">
    <div v-if="!favorites.length" class="empty-result">У вас пока нет избранный книг. Добавьте перую уже сейчас</div>
      <ItemsList
        :items="items"
        :totalItems="favorites.length"
        :currentPage="currentPageFavorite"
        :perPage="perPage"
        @clickItem="handleChooseBook"
        @changePage="handleChangePage"
      />
    </div>
  </div>
</template>

<script>
  import ItemsList from '@/components/ItemsList.vue';
  import {PER_PAGE_FOR_MOBILE, MOBILE_VIEW} from '@/consts.js';
  import {getScrollHeight, getScrollTop} from '@/utills.js';
  import {mapState, mapMutations} from 'vuex';
  export default {
    name: 'FavoritesPage',
    data() {
      return {
      }
    },
    computed: {
      ...mapState([
        'favorites',
        'currentPageFavorite',
        'perPage',
        'countFavoritesItemsMobile',
      ]),
      items() {
        if(window.innerWidth <= MOBILE_VIEW) {
          return this.favorites.slice(0, this.countFavoritesItemsMobile);
        }
        else {
          const startIndex = this.perPage * (this.currentPageFavorite - 1);
          const sliceArray = this.favorites.slice(startIndex, startIndex + this.perPage);
          return sliceArray;
        }
      }
    },
    methods: {
      ...mapMutations([
        'setCurrentBook',
        'setCurrentPageFavorite',
        'setCountFavoritesItemsMobile',
      ]),
      handleChooseBook(item) {
        this.setCurrentBook(item);
      },
      handleChangePage(page) {
        this.setCurrentPageFavorite(page);
      },   
      favoritesLoading() {
        if (this.items.length >= this.favorites.length) {
            return;
        }
        const scrollTop = getScrollTop();
        const scrollHeight = getScrollHeight();
        const heightOfWindow = scrollTop + window.innerHeight;
        const bottomOfWindow = heightOfWindow + 0 >= scrollHeight;
        if (bottomOfWindow) {
          this.setCountFavoritesItemsMobile(this.countFavoritesItemsMobile+PER_PAGE_FOR_MOBILE);
        }
      },
    },
    mounted() {
      document.addEventListener('scroll', this.favoritesLoading);
    },
    beforeDestroy() {
      document.removeEventListener('scroll', this.favoritesLoading);
    },

    updated() {
    },
    components: {
      ItemsList
    }
  }
</script>

<style lang="less">
  .favorites-page {
    height: 100%;
    display: flex;
    flex-direction: column;

    .item-list {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .header {
      font-family: 'Roboto-Bold';
      font-size: 21px;
      line-height: 26px;
      position: relative;
      margin-bottom: 50px;
      padding-left: 15px;

      .favorites-title {
        font-size: 21px;
        line-height: 26px;
        color: #000000;
        padding-left: 15px;
      }

      .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F3F3F3;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        cursor: pointer;
        position: absolute;
        left: -35px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

  }

  @media(max-width: 1199px) {

    .favorites-page {
      .header {
        .icon-wrapper {
          left: -20px;
        }
      }

    }
  }


  @media(max-width: 991px) {

    .favorites-page {
      .item-list {
        padding-top: 30px;
      }

      .header {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        background: #F3F3F3;
        padding: 8px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;


        .favorites-title {
          font-size: 19px;
          padding-left: 10px;
        }

        .icon-wrapper {
          background: none;
          position: static;
          transform: none;
        }
      }
    }
  }
</style>