<template>
  <div class="main-page">
    <div class="layout-wrapper layout">
      <div class="content">
        <div class="content-detail" :class="{'d-none': !visibleDetailMobile && wasSearch}">
          <Detail
            v-if="currentBook"
            :book="currentBook"
            :isFavorite="getIsFavorite"
            @viewAuthor="handleViewAuthor"
            @clickFavorites="toggleFavorites"
            @share="shareBook"
            @mobileBackLink="mobileBackLink"
            @toFavorites="goToFavorites"
          />
          <div v-else class="detail-empty">
            <div class="bg-wrapper"><img src="/images/bg.jpg"/></div>
            <div class="title">Библиотека</div>
          </div>
        </div>
        <div class="right-content" :class="{'bg-white': wasSearch || $router.history.current.name === 'favoritesPage', 'd-none': visibleDetailMobile}">
          <div class="content-wrapper">
            <router-view/>
          </div>
        </div>
        </div>
      </div>
    </div>
</template>

<script>
// @ is an alias to /src
import Detail from '@/components/Detail.vue';
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

export default {
  name: 'MainPage',
  data() {
    return {

    }
  },
  computed: {
    ...mapState([
      'currentBook',
      'visibleDetailMobile',
      'wasSearch',
    ]),
    ...mapGetters([
      'getIsFavorite'
    ])
  },
  methods: {
    ...mapMutations([
      'setNameSearch',
      'setSearchByAuthor',
      'setVisibleDetailMobile',
      'setFavorites',
    ]),
    ...mapActions([
      'getBooksList'
    ]),
    handleViewAuthor(author) {
      this.setNameSearch(author);
      this.setSearchByAuthor(true);
      this.getBooksList({findBy: 'inauthor'})
        .then((response) => {
          this.setVisibleDetailMobile(false);
        })
    },
    toggleFavorites(book) {
      this.setFavorites(book);

    },
    shareBook(book) {
      // не приходилось раньше расшаривать, не знаю почему вк description не считывает.
      const {infoLink, title, imageLinks, description} = book.volumeInfo;
      const URL = infoLink || window.location.href;
      const TITLE = title || 'Без названия';
      const IMG_PATH = imageLinks && imageLinks.thumbnail;
      const TEXT = description || 'Без описания';
      
      const Share = {
	      vkontakte: function(purl, ptitle, pimg, text) {
	      	let url  = 'https://vk.com/share.php?';
	      	url += 'url='          + encodeURIComponent(purl);
	      	url += '&title='       + encodeURIComponent(ptitle);
	      	url += '&description=' + encodeURIComponent(text);
	      	url += '&image='       + encodeURIComponent(pimg);
	      	url += '&noparse=true';
	      	Share.popup(url);
	      },
	      popup: function(url) {
	      	window.open(url,'','toolbar=0,status=0,width=626,height=436');
	      }
      };
      Share.vkontakte(URL,TITLE,IMG_PATH,TEXT);
    },
    mobileBackLink() {
      this.setVisibleDetailMobile(false);
    },
    goToFavorites() {
      this.setVisibleDetailMobile(false);
      this.$router.history.current.name !== 'favoritesPage' && this.$router.push({name: 'favoritesPage'});
    }
  },
  components: {
    Detail
  },
  updated(){
  },
  created() {
  }
}
</script>

<style lang="less">
  .main-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      min-height: 100%;
      display: flex;
    }

    .content-detail {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      background: #F3F3F3;
    }

    .right-content {
      width: 50%;

      .content-wrapper {
        width: 590px;
        height: 100%;
        padding: 64px 52px;
      }
    }

    .detail-empty {
      height: 100%;
      width: 100%;
      position: relative;

      .bg-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;

        img {
          min-width: 100%;
          min-height: 100%;
        }
      }

      .title {
        font-family: 'Roboto-Bold';
        position: absolute;
        bottom: 250px;
        right: 32px;
        font-size: 59px;
        line-height: 62px;
        color: #4B5959;
        text-transform: uppercase;
      }
    }
  }

  @media(max-width: 1199px) {
    .main-page {
      .right-content {
        .content-wrapper {
          width: 100%;
          padding: 3em 2em;
        }
      }

      .content-detail {
        .detail-empty {
          .title {
            bottom: 24vh;
            font-size: 50px;
          }
        }
      }
    }
  }

  @media(max-width: 991px) {
    .main-page {
      .content {
        width: 100%;
      }

      .right-content {
        width: 100%;
        z-index: 1;
        position: relative;

        .content-wrapper {
          padding: 25px 15px;
        }
      }

      .content-detail {
        width: 100%;
        position: absolute;
        min-height: 100%;
        z-index: 1;

        .detail-empty {
          min-height: 100%;
          height: auto;

          .title {
            left: 0;
            right: 0;
            bottom: 30vh;
            font-size: 50px;
            width: 100%;
            text-align: center;
          }

          .bg-wrapper {
            display: flex;
          }
        }

        .detail-empty {
          position: absolute;

          .title {
            font-size: 33px;
            line-height: 37px;
          }
        }
      }
    }
  }
</style>