<template>
  <div class="search-list">
    <div class="actions-block">
      <router-link class="favorites" :to="{name: 'favoritesPage'}">
        <div class="favorite-tooltip">Избранное</div>
        <img src="/images/heart.svg" />
      </router-link>
      <SearchInput
        :value="searchName"
        :isVisibleSearch="visibleSearch"
        :isList="!!listBooks.length"
        :listHints="listHints"
        @change="changeSearchName"
        @pressKey="handleKeyPress"
        @clear="clearSearch"
        @search="handleSearch"
        @chooseHint="chooseHint"
      />
    </div>
    <div v-if="wasSearch && !totalItems" class="empty-result">Ничего не найдено. Попробуйте уточнить запрос</div>
    <ItemsList
      :items="listBooks"
      :totalItems="totalItems"
      :currentPage="currentPage"
      :perPage="perPage"
      @clickItem="handleChooseBook"
      @changePage="handleChangePage"
    />
  </div>
</template>

<script>
import ItemsList from '@/components/ItemsList.vue';
import SearchInput from '@/components/SearchInput.vue';
import {throttle, getScrollTop, getScrollHeight} from '@/utills.js';
import {PER_PAGE_FOR_MOBILE, MOBILE_VIEW} from '@/consts.js';
import {mapState, mapMutations, mapActions} from 'vuex';

export default {
  name: 'SearchPage',
  data() {
    return {
      mobileRequestPossible: true,
      mobilePage: 2
    }
  },
  computed: {
    ...mapState([
      'searchName',
      'visibleSearch',
      'listBooks',
      'listHints',
      'wasSearch',
      'totalItems',
      'currentPage',
      'perPage',
    ]),
  },
  methods: {
    ...mapMutations([
      'clearListHints',
      'setNameSearch',
      'setVisibleSearch',
      'setSearchByAuthor',
      'setCurrentBook',
    ]),
    ...mapActions([
      'getBooksList',
      'getListHints'
    ]),
    handleChangePage(page) {
      this.getBooksList({page});
    },

    changeSearchName(value) {
      if (!value.length) {
        this.clearListHints();
      }
      this.setNameSearch(value);
      this.setVisibleSearch(true);
    },
    handleKeyPress() {
      this.throttleListHints();
    },

    throttleListHints: throttle(function(){
      this.getListHints();
    },1000),

    handleSearch() {
      if (this.searchName.trim()) {
        const payload = {
          maxResults: window.innerWidth < MOBILE_VIEW ? PER_PAGE_FOR_MOBILE : this.perPage
        }

        this.setSearchByAuthor(false);
        this.getBooksList(payload);
      }

    },
    handleChooseBook(item) {
      this.setCurrentBook(item);
    },
    clearSearch() {
      this.setNameSearch('');
    },
    chooseHint(title) {
      this.setNameSearch(title);
      this.getBooksList({});
    },
    
    bookLoading() {
        if (this.listBooks.length >= (this.totalItems - (PER_PAGE_FOR_MOBILE - 1))) {
            return;
        }
        const scrollTop = getScrollTop();
        const scrollHeight = getScrollHeight();
        const heightOfWindow = scrollTop + window.innerHeight;
        const bottomOfWindow = heightOfWindow + 0 >= scrollHeight;

        if (bottomOfWindow && this.mobileRequestPossible) {
          this.mobileRequestPossible = false;
          const payload = {
            maxResults: PER_PAGE_FOR_MOBILE,
            isMobile: true,
            page : this.mobilePage
          }
          this.getBooksList(payload)
            .then((response) => {
              this.mobileRequestPossible = true;
              this.mobilePage++;
            })
            .catch(e => {
              this.mobileRequestPossible = true;
            })
        }
    },
  },
  mounted() {
    document.addEventListener('scroll', this.bookLoading);
  },
  beforeDestroy() {
    document.removeEventListener('scroll', this.bookLoading);
  },
  components: {
    ItemsList,
    SearchInput
  }
  
}
</script>

<style lang="less">
  .search-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .actions-block {
      display: flex;
      padding: 0 10px;
      margin-bottom: 47px;

      .favorites {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        min-width: 44px;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid #7D8888;
        box-sizing: border-box;
        box-shadow: 0px 16px 17px rgba(0, 0, 0, 0.201427);
        border-radius: 4px;
        transition: 0.2s;
        margin-right: 12px;

        &:hover {
          background: #F3F3F3;

          .favorite-tooltip {
            visibility: visible;
            opacity: 1;
          }
        }


        .favorite-tooltip {
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          padding: 5px 15px;
          font-size: 15px;
          line-height: 17px;
          text-align: center;
          color: #FFFFFF;
          border-radius: 4px;
          top: -40px;
          visibility: hidden;
          transition: 0.2s;
          opacity: 0;


          &:after {
            position: absolute;
            content: '';
            border: 10px solid transparent;
            border-top: 6px solid rgba(0, 0, 0, 0.7);
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }

  @media(max-width:991px) {
    .search-list {

      .actions-block {
        position: relative;
        z-index: 1;
        padding: 0;
        margin-bottom: 25px;

        .favorites {
          .favorite-tooltip {
            display: none;
          }
        }
      }
    }
  }
</style>