<template>
  <div @click="handleClick" class="card-wrapper">
    <div class="picture">
      <img :src="image">
    </div>
    <div class="card-info">
      <div class="rating-wrapper">
        <Rating :rating="rating" />
      </div>
      <div class="card-header">{{item.volumeInfo && item.volumeInfo.title}}</div>
      <div v-html="decription" class="card-description"></div>
    </div>
  </div>
</template>

<script>
import Rating from '@/components/Rating.vue';

export default {
  name: 'card',
  props: {
    item: {
      type: Object
    }
  },
  methods: {
    handleClick() {
      this.$emit('click', this.item);
    }
  },
  computed: {
    decription() {
      return this.item.volumeInfo && this.item.volumeInfo.description ||
        this.item.searchInfo && this.item.searchInfo.textSnippet || 
        this.item.volumeInfo && this.item.volumeInfo.subtitle
    },
    image() {
      return this.item.volumeInfo.imageLinks && this.item.volumeInfo.imageLinks.smallThumbnail || '/images/nophoto.jpg';
    },
    rating() {
      return this.item.volumeInfo.averageRating ?? 0;
    }
  },
  components: {
    Rating
  }
}
</script>

<style lang="less">
  .card-wrapper {
    display: flex;
    height: 125px;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: #F3F3F3;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 10px;
      right: 10px;
      height: 1px;
      background: #979797;
    }

    .picture {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      min-width: 75px;
      width: 75px;
      height: 100%;
      margin-right: 15px;

      img {
        min-width: 100%;
        max-width: 100%;
      }
    }

    .card-info {
      overflow: hidden;
    }

    .rating-wrapper {
      margin-bottom: 5px;
    }

    .card-header {
      font-size: 17px;
      line-height: 24px;
      font-family: 'Roboto-Bold';
      margin-bottom: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .card-description {
      font-size: 13px;
      line-height: 17px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 50px;
    }
  }

  @media(max-width: 991px) {
    .card-wrapper {
      padding: 10px 0;
      max-height: 140px;
      height: auto;

      &::after {
        bottom: -10px;
        left: 0px;
        right: 0px;
      }

      .picture {
        display: none;
      }

      .card-description {
        -webkit-line-clamp: 4;
        max-height: 65px;
      }
    }
  }
</style>