<template>
  <div class="detail-wrapper">
    <div @click="mobileBackLink" class="mobil-backlink">
      <div class="backlink-icon">
        <img src="/images/back-white.svg" />
      </div>
      <div class="author-name">{{authors[0]}}</div>
    </div>
    <div class="detail-info">
      <div class="detail-preview-image">
        <div class="detail-image-wrapper">
          <img :src="image" />
        </div>
      </div>
      <div class="detail-preview-data">
        <div class="detail-title">{{book.volumeInfo.title}}</div>
        <div class="detail-basic">
          <div class="detail-basic-data">
            <div class="info-label author-name">
              Автор: <span v-for="(author, index) in authors" :key="author" @click="clickAuthor(author)">{{author + ((index === (authors.length - 1)) ? '' : ', ') }}</span>
            </div>
            <div class="info-label">Год: <span class="value">{{book.volumeInfo.publishedDate || 'Неизвестен'}}</span></div>
          </div>
        </div>
        <div class="rating-book">
          <Rating :rating="rating"/>
          <div class="info-label">Рейтинг: <span class="value">{{textRating}}</span></div>
        </div>
        <div class="detail-actions">
          <div class="action-block">
            <div v-show="isFavorite" class="action-wrapper">
              <div @click="handleClickFavorites" class="action-icon-wrapper"><img src="/images/like.svg" /></div>
              <div @click="goToFavorites" class="action-title active" :to="{name: 'favoritesPage'}">Перейти</div>
            </div>
            <div v-show="!isFavorite" @click="handleClickFavorites" class="action-wrapper">
              <div class="action-icon-wrapper"><img src="/images/like-empty.svg" /></div>
              <div class="action-title">В избранное</div>
            </div>
          </div>
          <div class="action-block">
            <div class="action-icon-wrapper"><img src="/images/shared.svg" /></div>
            <div @click="handleShare" class="action-title">Поделиться</div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-about">
      <div class="title">Отрывок книги</div>
      <div v-html="description" class="description"></div>
    </div>
  </div>
</template>

<script>
  import Rating from '@/components/Rating'
  export default {
    name: 'Detail',
    props: {
      book: {
        type: Object
      },
      isFavorite: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      clickAuthor(author) {
        this.$emit('viewAuthor', author);
        this.$router.history.current.name !== 'searchPage' && this.$router.push({ name: 'searchPage'});
      },
      handleClickFavorites() {
        this.$emit('clickFavorites', this.book);
      },
      handleShare() {
        this.$emit('share', this.book);
      },
      mobileBackLink() {
        this.$emit('mobileBackLink', this.book);
      },
      goToFavorites() {
        this.$emit('toFavorites');
      }
    },
    computed: {
      image() {
        return this.book.volumeInfo.imageLinks && this.book.volumeInfo.imageLinks.thumbnail || '/images/nophoto.jpg';
      },
      authors() {
        const {authors} = this.book.volumeInfo;
        const writers = [];
        if (authors && authors.length) {
          writers.push(...authors);
        }
        else {
          writers.push('Неизвестен');
        }
        return writers;
      },
      rating() {
        return this.book.volumeInfo.averageRating ?? 0;
      },
      textRating() {
        const rating = this.book.volumeInfo.averageRating;
        if (!rating) {return 'нет оценок'}
        else {
          return (''+ rating).replace('.',',');
        }
      },
      description() {
        return this.book.volumeInfo.description || this.book.searchInfo && this.book.searchInfo.textSnippet || 'Нет описания';
      }
    },
    updated() {
    },
    components: {
      Rating
    }
  }
</script>

<style lang="less">
  .detail-wrapper {
    padding: 64px 52px;
    width: 690px;

    .mobil-backlink {
      display: none;
    }

    .detail-info {
      display: flex;
      margin-bottom: 50px;

      .detail-preview-image {
        margin-right: 30px;

        .detail-image-wrapper {
          width: 175px;
          height: 240px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            min-width: 100%;
            min-height: 100%;
          }
        }
      }

      .detail-title {
        font-size: 21px;
        line-height: 26px;
        font-family: Roboto-Bold;
        margin-bottom: 15px;
      }

      .detail-basic-data {
        margin-bottom: 15px;
      }

      .info-label {
        font-size: 15px;
        line-height: 20px;
        color: #7D8888;

        &.author-name {
          margin-bottom: 3px;

          span {
            color: #417505;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

        }
      }

      .value {
        color: #000;
      }

      .rating-book {
        display: flex;
        margin-bottom: 35px;

        .rating {
          margin-right: 5px;
        }
      }

      .detail-actions {
        display: flex;

        .action-block {
          cursor: pointer;
          display: flex;
          align-items: center;
          color: #C7CAD2;
          transition: 0.2s;

          &:first-child {
            min-width: 130px;
          }

          &:hover {
            color: #9D9FA6;
          }

          .action-wrapper {
            display: flex;
          }
        }

        .action-icon-wrapper {
          margin-right: 10px;
          display: flex;
          align-items: center;
        }

        .action-title {
          font-size: 13px;
          line-height: 17px;

          &.active {
            color: #417505;

            &:hover {
              text-decoration-line: underline;
            }
          }
        }

      }
    }

    .detail-about {
      .title {
        font-size: 19px;
        line-height: 24px;
        font-family: Roboto-Bold;
        margin-bottom: 15px;
      }

      .description {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

  @media(max-width: 1199px) {
    .detail-wrapper {
      width: 100%;
      padding: 2em;

      .detail-info {
        margin-bottom: 35px;

        .detail-preview-image {
          margin-right: 15px;
        }

        .rating-book {
          margin-bottom: 20px;
        }
      }
    }
  }

  @media(max-width: 991px) {

    .detail-wrapper {
      width: 100%;
      padding: 0;

      .mobil-backlink {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        padding: 14px 20px;
        color: rgba(255, 255, 255, 0.6);
        font-size: 15px;
        line-height: 20px;

      }

      .detail-info {
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;

        .detail-preview-image {
          margin-right: 0;
          margin-bottom: 20px;


          .detail-image-wrapper {
            width: auto;
            min-width: 100%;
            height: auto;
            max-height: 435px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

          }
        }

        .detail-title {
          font-family: Roboto-Medium;
          margin-bottom: 15px;
          font-size: 19px;
          line-height: 26px;

        }

        .rating-book {
          margin-bottom: 25px;


          .rating {
            margin-right: 10px;
          }
        }

      }

      .detail-preview-data {
        padding: 0 15px;
      }

      .detail-about {
        padding: 0 15px 30px;

        .title {
          margin-bottom: 15px;
          font-size: 19px;
          line-height: 24px;
          font-family: Roboto-Medium;
        }

      }
    }
  }
</style>