<template>
  <div class="items-list">
    <div class="cards-list">
      <div v-for="item in items" :key="item.id" class="card-item">
        <Card :item="item" @click="handleChooseBook" />
      </div>
    </div>
    <div class="pagination-block">
      <Pagination
        :current="currentPage"
        :total="totalItems"
        :perPage="perPage"
        :disableLast="true"
        @pageChange="handleChangePage"
      />
    </div>
  </div>
</template>

<script>
import Card from '@/components/Card.vue';
import Pagination from '@/components/Pagination.vue';

export default {
  name: 'ItemsList',
  props: {
    items: {
      type: Array
    },
    totalItems: {
      type: Number,
      default: 0
    },
    currentPage: {
      type: Number,
      default: 1
    },
    perPage: {
      type: Number,
      default: 4
    },

  },
  methods: {
    handleChooseBook(item) {
      this.$emit('clickItem', item);

    },
    handleChangePage(page) {
      this.$emit('changePage', page);
    }
  },
  components: {
    Card,
    Pagination
  }
  
}
</script>

<style lang="less">
  .items-list {
    height: 100%;
    display: flex;
    flex-direction: column;

    .card-item {
      margin-bottom: 12px;
    }

    .cards-list {
      margin-bottom: 30px;
    }

    .pagination-block {
      width: 100%;
      margin-top: auto;
    }
  }

  @media(max-width: 991px) {
    .items-list {

      .card-item {
        margin-bottom: 15px;

        &:last-child {
          .card-wrapper {

            &::after {
              display: none;
            }
          }
        }
      }

      .cards-list {
        margin-bottom: 0;
      }

      .pagination-block {
        display: none;
      }
    }
  }
</style>