<template>
  <div class="pagination">
    <div v-if="hasPrev()" class="page-item pagination-left" @click="changePage(prevPage)"><img src="/images/arrow-pagination.svg" /></div>
    <div v-if="hasFirst()" class="page-item" @click="changePage(1)">1</div>
    <div v-for="page in pages" :key="page" @click="changePage(page)" class="page-item" :class="{'current-page': current === page, 'alone-page': pages.length === 1}">{{page}}</div>
    <div v-if="hasLast() && !disableLast" class="page-item" @click="changePage(totalPages)">{{totalPages}}</div>
    <div v-if="hasNext()" class="page-item pagination-right" @click="changePage(nextPage)"><img src="/images/arrow-pagination.svg" /></div>
  </div>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    current: {
      type: Number,
      default: 1
    },
    total: {
      type: Number,
      default: 0
    },
    perPage: {
      type: Number,
      default: 4
    },
    pageRange: {
      type: Number,
      default: 4
    },
    disableLast: {
      type: Boolean,
      default: false
    }


  },
  computed: {
    pages() {
      const pages = [];
      for(let i = this.rangeStart; i <= this.rangeEnd; i++) {
        pages.push(i);
      }
      return pages;
    },
    rangeStart() {
      const start = this.current - this.pageRange;
      return (start > 0) ? start : 1;
    },
    rangeEnd() {
      const end = this.current + this.pageRange;
      return (end < this.totalPages) ? end : this.totalPages;
    },
    totalPages() {
      return Math.ceil(this.total/this.perPage);
    },
    nextPage() {
      return this.current + 1;
    },
    prevPage() {
      return this.current - 1;
    }
  },
  methods: {
    changePage(page) {
      this.$emit('pageChange', page);
    },
    hasPrev() {
      return this.current > 1;
    },
    hasNext() {
      return this.current < this.totalPages;
    },
    hasFirst() {
      return this.rangeStart !== 1;
    },
    hasLast() {
      return this.rangeEnd < this.totalPages;
    }
  },

}
</script>

<style lang="less">
  .pagination {
    display: flex;
    justify-content: center;

    .page-item {
      cursor: pointer;
      width: 32px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #CCCCCC;
      border-right: none;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: #848E8E;

      &:hover {
        background: #F3F3F3;
      }

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
        border-right: 1px solid #CCCCCC;
      }

      &.pagination-right {
        img {
          transform: rotate(180deg);
        }
      }

      &.alone-page {
        border-radius: 5px;
      }
    }

    .current-page {
      background: #848E8E;
      color: #FFFFFF;

      &:hover {
        background: #848E8E;
      }
    }
  }
</style>