<template>
  <div class="rating">
    <div v-for="(n,i) in filled" :key="i" class="star-wrapper">
      <Star :filled="n"/>
    </div>
  </div>
</template>

<script>
import Star from '@/components/Star.vue';

export default {
  name: 'Rating',
  props: {
    rating: {
      type: Number,
      default: 0
    },
    maxCount: {
      type: Number,
      default: 5
    }
  },
  computed: {
    filled() {
      const {rating, maxCount} = this;
      const result = [];
      const isNotIntegerNum = (rating ^ 0) !== rating;
      let i;
      for(i = 0; i <= rating - 1; i++) {
        result.push(1)
      }
      isNotIntegerNum && result.push(2);
      if(result.length < maxCount) {
        for(let j = 0; j < maxCount - (isNotIntegerNum ? (i+1) : i); j++) {
          result.push(0)
        } 
      }

      return result;
    }
  },
  components: {
    Star
  }
  
}
</script>

<style lang="less">
.rating {
  display: flex;

  .star-wrapper {
    margin-right: 3px;
  }
}
</style>