<template>
  <div class="search" :class="{'focus': inputFocus}">
    <input
      ref="search"
      @keyup.enter="search"
      :value="value"
      placeholder="Введите название книги"
      @input="changeSearchName"
      @keyup="pressKey"
      class="search-input"
      type="text"
      @focus="inputFocus = true"
      @blur="inputFocus = false"
    />
    <div v-if="visibleHint && variableTitles.length && value.length >= 2" class="list-hints">
      <div v-for="(title, index) in variableTitles" @click="chooseHint(title.title)" :key="title.id" :class="{'active': index === currentIndexHint}" class="item-hints">{{title.title}}</div>
    </div>
    <div class="search-actions">
      <div v-if="!isVisibleSearch && isList && value.trim()" @click="clearSearch" class="image-wrapper">
        <img src="/images/close.svg" /></div>
      <div v-else class="image-wrapper"><img @click="search" src="/images/loupe.svg" /></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SearchInput',
    data() {
      return {
        visibleHint: false,
        inputFocus: false,
        currentIndexHint: -1
      }
    },
    props: {
      isVisibleSearch: {
        type: Boolean,
        default: true
      },
      isList: {
        type: Boolean,
        default: false
      },
      value: {
        type: String,
        default: ''
      },
      listHints: {
        type: Array,
        default: []
      }
    },
    computed: {
      variableTitles() {
        const titles = this.listHints.map(item => ({title: item.volumeInfo.title, id: item.id}));
        const filteresTitles = titles.filter(item => item.title.trim().toLowerCase().includes(this.value.trim().toLowerCase()) );

        return filteresTitles.slice(0,6);
      },

      getVisibleHint() {
        return this.visibleHint && this.variableTitles.length && this.value.length >= 2;
      }
    },
    methods: {
      changeSearchName(event) {
        this.$emit('change', event.target.value);
        this.visibleHint = true;
        this.currentIndexHint = -1;
      },
      pressKey(event) {
        if (![8, 13, 16, 32].includes(event.keyCode)) {
          this.$emit('pressKey', event.target.value);
        }
      },
      clearSearch() {
        this.$emit('clear');
      },
      search() {
        if (this.currentIndexHint === -1) {
          this.$emit('search');
          this.visibleHint = false;
        }
        else {
          this.currentIndexHint = -1;
        }
      },
      chooseHint(title) {
        this.$emit('chooseHint', title);
        this.visibleHint = false;
      },

      nextHint() {
        this.currentIndexHint = (this.currentIndexHint < (this.variableTitles.length -1))? (this.currentIndexHint + 1) : -1;
      },
      prevHint() {
        this.currentIndexHint = (this.currentIndexHint > -1) ? (this.currentIndexHint - 1) : (this.variableTitles.length - 1);
        if(this.currentIndexHint === -1) {
          setTimeout(()=> {
            this.$refs.search.selectionStart = this.$refs.search.value.length;
          },10)
        }
      },
      enterHint() {
        const title = this.variableTitles[this.currentIndexHint];
        this.visibleHint = false;
        title && this.$emit('chooseHint', title.title);
      },
      initKeyListener(event) {
        if(!this.getVisibleHint) {return;}
        switch (event.keyCode) {
          case 38:
            this.prevHint();
            break;
          case 40:
            this.nextHint();
            break;
          case 13 :
            this.enterHint();
            break;
        }
      },

    },
    mounted() {
      this.$refs.search.addEventListener('keydown', this.initKeyListener);
    },
    beforeDestroy() {
      this.$refs.search.removeEventListener('keydown', this.initKeyListener);
    }

  }
</script>

<style lang="less">
  .search {
    position: relative;
    flex-grow: 1;

    &.focus {
      .list-hints {
        visibility: visible;
      }
      
    }

    .list-hints {
      // visibility: hidden;
      position: absolute;
      z-index: 2;
      top: 100%;
      transform: translateY(-3px);
      background: white;
      border: 1px solid #7D8888;
      border-top: 1px solid #E0E4E7;
      border-radius: 0 0 5px 5px;
      padding: 10px 0;
      width: 100%;

      .item-hints {
        cursor: pointer;
        padding: 6px 16px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          background: #EAEAEA;
        }

        &.active {
          background: #EAEAEA;
        }
      }
    }
    

    .search-input {
      width: 100%;
      height: 100%;
      border: 1px solid #7D8888;
      box-shadow: 0px 16px 17px rgba(0, 0, 0, 0.201427);
      border-radius: 4px;
      padding: 10px 16px;
      font-size: 17px;
      line-height: 20px;
      text-overflow: ellipsis;
      padding-right: 40px;
    }

    .search-actions {
      height: 100%;
      width: 44px;
      position: absolute;
      right: 0;
      top: 0;

      .image-wrapper {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

@media(max-width: 991px) {
  .search {

    &.focus {
      position: absolute;
      width: 100%;

      
    }

      
    .list-hints {
      max-height: 140px;
      overflow-y: scroll;
      .item-hints {

        &:hover {
        }
        &.active {
        }
      }
    }
    .search-input {
      padding: 11px 40px 11px 12px;

    }
    .search-actions {
      .image-wrapper {
      }
    }
  }
}
</style>