<template>
  <span>
    <svg v-if="filled === 2" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99992 11.5133L12.1199 14L11.0266 9.31333L14.6666 6.16L9.87325 5.75333L7.99992 1.33333L6.12659 5.75333L1.33325 6.16L4.97325 9.31333L3.87992 14L7.99992 11.5133Z" fill="black"/>
      <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="14" height="13">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99992 11.5133L12.1199 14L11.0266 9.31333L14.6666 6.16L9.87325 5.75333L7.99992 1.33333L6.12659 5.75333L1.33325 6.16L4.97325 9.31333L3.87992 14L7.99992 11.5133Z" fill="white"/>
      </mask>
      <g mask="url(#mask0)">
      <rect y="0.666656" width="8" height="14.6667" fill="#F5A623"/>
      </g>
    </svg>
    <svg v-else width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path :fill="filled === 1 ? '#F5A623' : '#000'" fill-rule="evenodd" clip-rule="evenodd" d="M6.99992 10.5133L11.1199 13L10.0266 8.31333L13.6666 5.16L8.87325 4.75333L6.99992 0.333328L5.12659 4.75333L0.333252 5.16L3.97325 8.31333L2.87992 13L6.99992 10.5133Z"/>
    </svg>

  </span>
</template>

<script>
export default {
  name: 'star',
  props: {
    filled: {
      type: Number ,
      default: 0
    }
  }
}
</script>